html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0vw;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ebd5b3, #fff) fixed;
}

/* Navigation style */

header {
    width: 80%;
    height: 8%;
    border-bottom: solid 1px black;
    margin: auto;
    position: relative;
}

nav {
    height: 100%;
}

nav li {
    display: block;
    height: 100%;
}

nav ul {
    display: inline-flex;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 10px;
    height: 100%;
    align-items : center;
}

nav ul:hover {
    display: inline-flex;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 10px;
    height: 100%;
    align-items : center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

nav ul.current::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: #eee #000;
    box-shadow: 0 0 5px #555;
    -webkit-box-shadow: 0 0 5px #555;
    -moz-box-shadow: 0 0 5px #555;
    transition: all ease .5s;
}

nav ul::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 5px 5px 0;
    border-color: #ddd #000;
    -webkit-box-shadow: 0 0 5px #555;
    -moz-box-shadow: 0 0 5px #555;
    box-shadow: 0 0 5px #555;
    transition: all ease .5s;
}

nav ul:hover:before {
    border-width: 0 20px 20px 0;
    border-color: #eee #000;
  }

.blog-title {
    font-size: 1.5em;
    font-weight: bolder;
}

.left {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.right {
    position: absolute;
    right: 0;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/* Footer style */

footer {
    width: 80%;
    height: 4%;
    border-top: solid 1px black;
    margin: auto;
    margin-top: 5vh;
    position: relative;
}

.panel {
    position: absolute;
    left: 0;
    padding-left: 2%;
    padding-right: 2%;
}
.copy {
    position: absolute;
    right: 0;
    padding-left: 2%;
    padding-right: 2%;
}

/* Main content style */

section {
    width: 80%;
    margin: auto;
}

section h1 {
    font-weight: lighter;
    font-size: 2em;
}

section h1::after {
    display: block;
    content: "";
    width: 10%;
    border-bottom: 3px solid grey;
}

section h1::first-letter {
    font-weight: bold;
    text-transform: uppercase;
}

section h2 {
    font-weight: lighter;
    font-size: 1.7em;
}

section h2::after {
    display: block;
    content: "";
    width: 5%;
    border-bottom: 3px solid grey;
}

section h2::first-letter {
    font-weight: bold;
    text-transform: uppercase;
}

/* Hero content style */

.hero-container {
    display: flex;
}

.hero-avatar {
    width: 25%;
    text-align: center;
}

.hero-avatar img {
    display: block;
    border: solid 2px black;
    border-radius: 50%;
    overflow: hidden ;
}

.hero-more {
    width: 75%;
    padding-left: 5%;
    padding-right: 5%;
}

.hero-quote {
    display: inline-block;
    font-size: 2em;
}

.hero-quote::before {
    content: "\00AB\00A0";
    display: inline-block;
    text-align: justify;
    font-size: 1.5em;
}

.hero-quote::after {
    content: "\00A0\00BB";
    display: inline-block;
    font-size: 1.5em;
}

/* Contact form */

.contact-container {
    margin: auto;
    width: 80%;
}

.contact-form {
    width: 100%;
}

.contact-form > div {
    position: relative;
    height: 10vh;
}

.contact-form > .contact-message {
    position: relative;
    height: 15vh;
}

.contact-form > div > label {
    position: absolute;
    top: 0;
    font-size: 1.5em;
    transition: all ease-in 0.20s;
}

.contact-form > div > input[type=text], .contact-form > div > input[type=email], .contact-form > div > input[type=password] {
    position: absolute;
    bottom: 0;
    background: transparent;
    width: 100%;
    height: 5vh;
    font-size: 1em;
    margin-bottom: 1vh;
    outline: none;
    border: none;
    border-bottom: 2px solid gray;
}

.contact-form input:focus ~ label, .contact-form textarea:focus ~ label {
    font-size: 1.1em;
    font-weight: bolder;
}

.contact-form textarea {
    position: absolute;
    background: transparent;
    bottom: 0;
    width: 100%;
    height: 10vh;
    font-size: 1.3em;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 2px solid gray;
}

.contact-form input[type=submit] {
    font-size: 1em;
    padding: 1%;
    margin-top: 2vh;
}

.responsive-menu {
    position:relative;
    width: 10%;
    height: 5vh;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
}

.responsive-menu::before, .responsive-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 98%;
    z-index: -1;
    transition: transform ease-in 250ms;
}

.responsive-menu::before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
    -o-transform: rotate(-2.5deg);
    -moz-transform: rotate(-2.5deg);
    -ms-transform: rotate(-2.5deg);
    -webkit-transform: rotate(-2.5deg);
}

.responsive-menu::after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
}

.responsive-menu:hover::before, .responsive-menu:hover::after {
    transform: rotate(0);
    -o-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
}
