<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="{{ keywords }}">
        <link rel="stylesheet" type="text/css" href="./public/css/style.css">
        <script src="./public/javascript/script.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body {% block onload %}{% endblock %}>
        <header>
            <!-- Name of blog & navigations -->
            <div class="left blog-title">
                <a href="./index.php">Retourner vers {{ navtitle }}</a>
            </div>
            <div class="right">
                <nav>
                    <li>
                        <ul {% if (currentPage == "panel") %}class="current"{% endif %}><a href="./index.php?page=panel">Profil</a></ul>
                        {% if (role >= 1) %}
                        <ul {% if (currentPage == "postmanager") %}class="current"{% endif %}><a href="./index.php?page=postmanager">Articles</a></ul>
                        {% endif %}
                        {% if (role == 1) %}
                            <ul {% if (currentPage == "commentmanager") %}class="current"{% endif %}><a href="./index.php?page=commentmanager">Commentaires</a></ul>
                            <ul {% if (currentPage == "permissionmanager") %}class="current"{% endif %}><a href="./index.php?page=permissionmanager">Permissions</a></ul>
                            <ul {% if (currentPage == "settingsmanager") %}class="current"{% endif %}><a href="./index.php?page=settingsmanager">Préférences générales</a></ul>
                        {% endif %}
                    </li>
                </nav>
            </div>
        </header>
        <!-- Error -->
        {% block error %}{% endblock %}
        
        <!-- Content -->
        {% block content %}{% endblock %}

        <footer>
            <!-- Navigations & Copyright -->
            {% if (role == 1) %}
            <div class="panel">
                <a href="./index.php?page=panel">Panneau de configuration</a>
            </div>
            {% endif %}
            <div class="copy">
                myBlog &copy; 2021
            </div>
        </footer>
    </body>
</html>