{% extends "/panel/base.html" %}

{% block error %}
{% if(error != "0") %}
<script>
    function closeWindow() {
        document.getElementById("error-box").hidden = true;
    }
</script>
<div class="error-box" id="error-box">
    {% if(error == "1") %}
        Le type de fichier envoyer n'est pas au bon format
    {% endif %}
    {% if(error == "2") %}
        Erreur lors de la copie du fichier, veuillez rééssayer plus tard
    {% endif %}
    <input type="button" value="Fermer" onclick="closeWindow()" >
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if (role != -1) %}
<!-- Panel -->
<section>
    <h1>Profil</h1>
        <div class="contact-container">
            <form action="./index.php?page=editprofile" method="POST" class="contact-form">
                <input type="hidden" name="id" value="{{ user.id }}">
                <div>
                    <input type="text" name="name" value="{{ user.name }}" required>
                    <label for="site_title">Prénom</label>
                </div>
                <div>
                    <input type="text" name="surname" value="{{ user.surname }}" required>
                    <label for="site_title">Nom</label>
                </div>
                <div>
                    <input type="text" name="hat" value="{{ user.user_hat }}" required>
                    <label for="site_title">Phrase d'accroche</label>
                </div>
                <input type="submit" value="Modifier">
            </form>
        </div>
    <h2>Avatar</h2>
    {% if (userImage is empty) %}
    <img src="./public/images/avatars/default.svg" alt="Avatar" style="width: 100px; height: 100px;">
    {% else %}
    <img src="./public/uploads/{{ userImage.path_name }}" alt="Avatar" style="width: 100px; height: 100px;">
    {% endif %}
    <div>
        Changer d'avatar
    </div>
    <form action="./index.php?page=uploadavatar" method="post" enctype="multipart/form-data">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="user_image_id" value="{{ userImage.id }}">
        <input type="hidden" name="user_image_file" value="{{ userImage.path_name }}">
        <input type="file" name="avatar">
        <input type="submit" value="Envoyer">
    </form>
    <script>
        var count = 0;
        function addSocial() {
            var inputSocial = "<div><select name=\"social_id[]\"><option value=\"id_social\">Social</option></select> <input type=\"text\" name=\"meta[]\"></div>";
            document.getElementById("social_form").innerHTML += inputSocial;
            count = count+1;
        }
    </script>
    <h2>Réseaux Sociaux</h2>
        <div>
            <input type="button" value="Ajouter un réseau social" onclick="addSocial()">
            <form action="" method="post">
                <div id="social_form">
                </div>
            </form>

        </div>
    {% if (role == 1) %}
    <h2>Curriculum Vitae</h2>
    <form action="./index.php?page=uploadcv" method="post" enctype="multipart/form-data">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="user_cv_id" value="{{ cv.id }}">
        <input type="file" name="cv">
        <input type="submit" value="Envoyer">
    </form>
    {% endif %}
</section>
{% endif %}
{% endblock %}