{% extends "/panel/base.html" %}

{% block content %}
{% if (role == 1) %}
<!-- Panel -->
<section>
    <h1>Configurations Générales</h1>
    <div class="contact-container">
        <form action="./index.php?page=mainsettings" method="POST" class="contact-form">
            <div>
                <input type="text" name="site_title" value="{{ navtitle }}" required>
                <label for="site_title">Nom de site</label>
            </div>
            <div>
                <input type="text" name="site_keywords" value="{{ keywords }}" required>
                <label for="site_title">Mots-clefs généraux</label>
            </div>
            <div>
                <input type="text" name="site_description" value="{{ description }}" required>
                <label for="site_title">Description du site</label>
            </div>
            <div>
                <select name="main_user">
                    {% for author in authors %}
                    <option value="{{ author.id }}"{% if (main_user_id == author.id) %} selected {% endif %}>{{ author.name }} {{ author.surname }}</option>
                    {% endfor %}
                </select>
                <label for="author">Héro du site</label>
            </div>
            <input type="submit" value="Modifier">
        </form>
    </div>
</section>
{% endif %}
{% endblock %}