{% extends "base.html.twig" %}

{% block content %}
<!-- Add Post -->
<section class="container">
    <h2>Ajouter un article</h2>
    <form action="./index.php?page=publish" method="post" class="contact-form">
    <div class="form-container">
            <div>
                <input type="text" name="title" required>
                <label for="title">Titre</label>
            </div>
            <div>
                <input type="text" name="hat" required>
                <label for="chapo">Chap&ocirc;</label>
            </div>
            <div>
                <input type="text" name="keywords" required>
                <label for="keywords">Mots-clefs</label>
            </div>
            <div class="form-textarea-container">
                <textarea name="content" required></textarea>
                <label for="content">Contenu</label>
            </div>
            <input type="submit" value="Ajouter">
    </div>
    </form> 
</section>
{% endblock %}