{% extends "base.html" %}

{% block content %}
<!-- Home -->
<section>
    <h1>édito</h1>
    <div class="hero-container">
        <div class="hero-infos">
            {% if (main_user.path_name is empty) %}
            <img src="./public/images/avatars/default.svg" alt="Photo de {{ main_user.name}} {{ main_user.surname }}" class="hero-avatar">
            {% else %}
            <img src="./public/uploads/{{ main_user.path_name }}" alt="Photo de {{ main_user.name}} {{ main_user.surname }}" class="hero-avatar">
            {% endif %}
            <div>
                {{ main_user.name}} {{ main_user.surname }}
            </div>
        </div>
        <div class="hero-more">
            <div class="hero-quote">{{ main_user.user_hat }}</div>
            <div class="hero-cv">
                {% if (main_user.file_name is empty) %}
                Aucun cv disponible
                {% else %}
                <a href="./public/uploads/{{ main_user.file_name }}">Consulter mon cv</a>
                {% endif %}
            </div>
            <div class="hero-social">
                Suivez moi sur: à faire
            </div>
        </div>
    </div>
</section>
<section>
    <h2>Contactez moi</h2>
    <div class="contact-container">
        <form action="" method="POST" class="contact-form">
            <div>
                <input type="text" name="name" id="name" required>
                <label for="name">Nom</label>
            </div>
            <div>
                <input type="text" name="surname" id="surname" required>
                <label for="surname">Pr&eacute;nom</label>
            </div>
            <div>
                <input type="email" name="email" id="email" required>
                <label for="email">Email</label>
            </div>
            <div class="contact-message">
                <textarea name="message" required></textarea>
                <label for="message">Message</label>
            </div>
            <input type="submit" value="Envoyer">
        </form> 
    </div>
</section>
{% endblock %}